@font-face {
	font-family: Gotham;
	src: url(../font/gotham.ttf);
}
body {
	background-image: url(../img/mystique_background_ps.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-color:  rgb(0, 3, 24);
	margin-left: 45%;
	margin-right: 5%;
	font-family: Gotham, Calibri, sans-serif;
	color: rgb(194, 214, 238);
	display: inline-table;
	width: 50%;
}
a {
	text-decoration: none;
	color: rgb(194, 214, 238);
}
a:visited {
	color: rgb(194, 214, 238);
}
li {
	list-style: none;
}
.content .principal-header h1 {
	font-size: 4.5em;
	margin-bottom: 1%;
}
.content .principal-header h2 {
	margin-top: 0%;
	font-size: 1.6em;
}
.content .page-content {
	font-size: 1.25em;
	line-height: 130%;
}
.content .page-content .missoes ul,
.content .menu ul {
	padding-left: 0;
	display: inline-table;
	width: 100%;
}
.content .page-content footer p,
.content .page-content .missoes ul li,
.content .page-content .menu ul li {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 2% 0;
	text-align: center;
}
.content .page-content .missoes ul li,
.content .page-content .menu ul li {
	float: left;
	width: 24.25%;
	margin: 0 1% 1% 0;
}
.content .page-content .menu.menu-3 ul li {
	padding: 0 0;
}
.content .page-content .missoes ul li.last-column,
.content .page-content .menu ul li.last-column {
	margin: 0 0 1% 0;
}
.content .page-content header h1 {
	margin-top: 5.5%;
	text-align: center;
	padding: 1.5% 0;
	background-color: brown;
}
.content .page-content footer {
	width: 100%;
	margin-top: 4%;
}
.content .page-content footer p {
	margin: 0;
	width: 50%;
	float: right;
}
@media (max-width: 960px) {
	.content .page-content {
		font-size: 1.1em;
	}
}
@media (max-width: 850px) {
	.content .page-content {
		font-size: 1em;
	}
}
@media (max-width: 810px) {
	.content .page-content {
		font-size: 0.9em;
	}
}
@media (max-width: 710px) {
	.content .page-content {
		font-size: 0.8em;
	}
}